---

---

<div>
  <ul class="flex gap-x-5 items-center justify-between px-6 my-6">
    <li>Nature</li>
    <li>Games</li>
    <li>Anime</li>
    <li>People</li>
    <li>Art</li>
  </ul>
</div>

<style>
  li {
    @apply text-xs;
  }
</style>
