---

---

<section class="min-h-dvh flex flex-col">
  <h2>Pixel Art Gallery</h2>
</section>

<style>
  section {
    background-image: url("/public/background.webp");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50px;
  }
</style>
